{%extends 'layout.html' %}


{%block body%}
    <h1>Estas son las tareas del proyecto: {{proyect.project_name}}</h1>
    
    <div class="py-5">
        <div class="container">
            {% if messages %}
                                   
            
                {% for message in messages %}
                    {%if message.tags == 'success' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong> {{ message }} </strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {%else%}
                    <div class="alert alert-warning  alert-dismissible fade show" role="alert">
                        <strong> {{ message }} </strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {%endif%}
                {% endfor %}
            {%endif%}
            {%if members|length == 0%}
              <p>Para crear una tarea, debes de tener miembros en tu proyecto, Actualmente no tienes ninguno</p>
              <a href="{%url 'add-member' proyect.id %}" class="btn btn-primary">Agregar miembro</a>
              {%else%}
              {%if tasks|length == 0%}
              <p>Actualmente no tienes tareas en tu proyecto, crea tareas para luego poder verlas aqui.</p>

              <a href="{%url 'create-task' proyect.id %}" class="btn btn-primary">Crear tarea</a>
          {%else%}
          <div class="row">
              {% for task in tasks %}
              <div class="col-md-4">
                <div class="card mb-3">
                  <div class="card-body">
                    <h4 class="card-title">{{ task.title }}</h4>
                    <h6 class="card-subtitle text-muted">{{ task.description }}</h6>
                    {%if task.completed%}
                    <h6 class="card-subtitle text-muted mt-2"><strong>La tarea ya ha sido completada</strong></h6>
                    {%else%}
                    <h6 class="card-subtitle text-muted mt-2"><strong>La tarea aun no ha sido completada</strong></h6>
                    {%endif%}
                    <p class="card-text p-y-1 mt-3">La tarea se asigno a: {{ task.asigned_at.user.first_name }}</p>
                    <p>Asignada el: {{task.created_at}}</p>
                    
                    <a href="{% url 'delete-task' task.id %}" class="btn btn-outline-danger">Eliminar</a>
                    <a href="{% url 'edit-task' task.id proyect.id %}" class="btn btn-outline-primary">Editar</a>
                    <a href="{% url 'task' task.id proyect.id %}" class="btn btn-outline-info">Ver tarea</a>
                  </div>
                </div>
              </div>
              {% endfor %}
           {%endif%}
            {%endif%}
            
          </div>
        </div>
      </div>
      
{%endblock%}